<div class="container uk-flex uk-flex-middle uk-flex-between">
    <p id="copy">&copy; PSLIB 2020</p>

    <img src="/img/pslib.svg" alt="logo-školy" class="pslib-logo">

    <ul class="footer-menu">
        <li><a href="https://web.pslib.cz">stránky školy</a></li>
        <li><a href="https://lyceum.pslib.cloud/app">aplikace</a></li>
    </ul>
</div>
