<style>
    #main-header {
        width: 80%;
        display: block;
        margin: 0 auto;
        padding-bottom: .8em;
    }

    .main-heading {
        padding-top: 2em;
        font-weight: 700;
    }

    #pslib-logo {
        width: 50%;
        align-self: center;
        margin: 3em;
    }

    p.info-text {
        font-size: .95em;
        text-align: justify;
    }
</style>

<header id="main-header">
    <h1 class="main-heading">Technické lyceum</h1>
    <div class="uk-flex">
        <img src="/img/pslib.svg" alt="" style="height: 100%; width: 100px;" id="pslib-logo">

        <div>
            <p class="info-text">Technické lyceum je koncipováno jako odborné technické studium s vyšším podílem všeobecného vzdělávání a výrazným zastoupením těch vzdělávacích oblastí, které jsou obsahem i metodami práce významné pro rozvoj technického myšlení.</p>
            <p class="info-text">Obor je určený pro chlapce a dívky se zájmem o přírodní vědy, matematiku a geometrii, informatiku, techniku a technologii. Výuka v tomto oboru nabízí přípravu pro další vysokoškolské studium technických a přírodovědných oborů. Charakteristickými znaky technického lycea je výuka dvou cizích jazyků a také to, že součástí maturitní zkoušky je obhajoba dlouhodobé maturitní práce.</p>
        </div>
    </div>
</header>
<hr>
