<style>
    .rounded-corners {
        border-radius: 20px !important;
    }
</style>
<div>
    <div class="uk-card uk-card-default uk-card-hover rounded-corners">
        <div class="uk-card-media-top">

            <div class="uk-overflow-hidden">
                <img src="data:image/jpg;base64,{{data}}" alt="" class="uk-animation-kenburns">
            </div>

        </div>
        <div class="uk-card-body">
            <h3 class="uk-card-title">{{name}}</h3>
            <code class="uk-text-primary">#foto</code>
        </div>
    </div>
</div>
