<a href="/" class="home"><span class="uk-margin-small-right back-icon uk-text-primary uk-text-background" uk-icon="icon: home; ratio: 2"></span></a>
<h2>Technické výkresy</h2>
    <div class="uk-child-width-1-2@s uk-child-width-1-3@m" uk-grid >
        {{# key_value groups}}
            <div>
                <div class="uk-card uk-card-default uk-card-hover rounded-corners">
                    <div class="uk-card-media-top">
                        <div class="uk-overflow-hidden">
                            <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slideshow>

                                <ul class="uk-slideshow-items" style="min-height: 100%!important;width:100%;">
                                    {{#each value}}
                                        <li>
                                            <a data-fancybox="gallery" href="{{this}}">
                                                <img data-src="{{this}}" style="width: 100%; object-fit: contain" alt="" uk-cover uk-img="target: !.uk-slideshow-items">
                                            </a>
                                        </li>
                                    {{/each}}
                                </ul>

                                <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
                                <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slideshow-item="next"></a>

                            </div>
                        </div>
                    </div>
                    <div class="uk-card-body">
                        <h3>{{key}}</h3>
                    </div>
                </div>
            </div>
        {{/ key_value}}


    </div>
