<style>
    .row.no-gutter [class*='col-'] {
        padding-right:0;
        padding-left:0;
        height: 300px;
        overflow: hidden;
        position: relative;
    }

    .row.no-gutter .img-responsive {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transform: scale(1.1, 1.1);
        transition: all .5s;

    }

    .row.no-gutter .img-responsive:hover {
        transform: scale(1, 1);
    }



    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.55);
        opacity: 0;
        transition: all .5s;
        cursor: pointer;
    }

    .overlay-container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #fff;
    }

    .overlay-container ion-icon {
        font-size: 2em;
    }

    .row.no-gutter [class*='col-']:hover .overlay {

        opacity: 1;
    }

    .centered-button {
        margin: 20px auto;
    }
</style>
<section id="images">
    <h2 class="text-center">obrázky</h2>
    <div class="container-fluid">
        <div class="row no-gutter">
            {{# each images}}
                <div class="col-xs-6 col-sm-2 col-lg-3">
                    <img alt="picture" src="data:image/jpg;base64,{{data}}" class="img-responsive">
                </div>

            {{/each}}
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            <a href="/public/" class="btn btn-outline-primary btn-rounded btn-md ml-4 centered-button">zpět</a>
        </div>
    </div>
</section>


