<style>
    .row.no-gutter [class*='col-'] {
        padding-right:0;
        padding-left:0;
        height: 300px;
        overflow: hidden;
        position: relative;
    }

    .row.no-gutter .img-responsive {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transform: scale(1.1, 1.1);
        transition: all .5s;

    }

    .row.no-gutter .img-responsive:hover {
        transform: scale(1, 1);
    }



    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.55);
        opacity: 0;
        transition: all .5s;
        cursor: pointer;
    }

    .overlay-container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #fff;
    }

    .overlay-container ion-icon {
        font-size: 2em;
    }

    .row.no-gutter [class*='col-']:hover .overlay {

        opacity: 1;
    }

    .centered-button {
        margin: 20px auto;
    }

    #photos {
        /* Prevent vertical gaps */
        line-height: 0;

        -webkit-column-count: 3;
        -webkit-column-gap:   0px;
        -moz-column-count:    3;
        -moz-column-gap:      0px;
        column-count:         3;
        column-gap:           0px;
    }

    #photos div,
    #photos div a img,
    #photos div a {
        /* Just in case there are inline attributes */
        width: 100% !important;
        height: auto !important;
    }

    #photos div {
        overflow: hidden;
    }

    #photos div a img {
        transform: scale(1.02, 1.02);
        transition: all .5s;
    }

    #photos div:hover a img {
        transform: scale(1, 1);
    }
</style>
<section id="images">
    <h2 class="text-center">obrázky</h2>
    <div class="container-fluid">
        <div id="photos">
            {{# each images}}
                {{#if data}}
                    <div>
                        <a data-fancybox="gallery" href="data:image/jpg;base64,{{data}}">
                            <img src="data:image/jpg;base64,{{data}}" alt="">
                        </a>
                    </div>
                {{/if}}
            {{/each}}
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            <a href="/public/" class="uk-button uk-button-primary centered-button">zpět</a>
        </div>
    </div>
</section>


