<style>

    #main-wrapper p {
        font-size: 1.1rem;
    }

    .rounder-corners {
        border-radius: 20px !important;
    }

    .text-uppercase {
        text-transform: uppercase;
        letter-spacing: .1em;
    }

    .link-button {
        margin: 0 auto;
        margin-top: 1.2em;
        transition: all .5s;
    }

    .link-button:hover {
        transform: scale(1.01, 1.01);
        box-shadow: 0 14px 25px rgba(0,0,0,.16);
    }
</style>

    <main>
        <section id="subjects">
            <h3 class="text-uppercase">Multimédia</h3>
            <div style="max-width: 95%; display: block; margin: 0 auto;">
                <div class="row">
                    <div class="uk-child-width-1-2@s uk-child-width-1-3@m uk-grid-row-large" uk-grid >
                        {{# each videos}}
                            {{>url-card input=this}}

                        {{/each}}

                        {{# each images}}
                            {{>image input=this}}

                        {{/each}}


                    </div>
                </div>
                <div class="">
                    <a href="/public/images" class="uk-button uk-button-primary rounder-corners link-button">Zobrazit více</a>
                </div>
            </div>

            <hr class="uk-divider-icon">

            <h3 class="text-uppercase">Webové stránky</h3>
            <div class="row" style="max-width: 95%; display: block; margin: 0 auto;">
                <div class="uk-child-width-1-2@s uk-child-width-1-3@m" uk-grid >
                    {{# each websites}}

                        {{>url-card input=this}}


                    {{/each}}
                </div>

                    <div class="">
                        <a href="/public/websites" class="uk-button uk-button-primary rounder-corners link-button">Zobrazit více</a>
                    </div>

            </div>

            <hr class="uk-divider-icon">
            <h3 class="text-uppercase">Technické výkresy</h3>
            <div class="row" style="max-width: 95%; display: block; margin: 0 auto;">
                <div class="uk-child-width-1-2@s uk-child-width-1-3@m" uk-grid >
                    {{# key_value drawings}}
                        <div>
                            <div class="uk-card uk-card-default uk-card-hover rounder-corners">
                                <div class="uk-card-media-top">
                                    <div class="uk-overflow-hidden">
                                        <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slideshow>

                                            <ul class="uk-slideshow-items" style="min-height: 100%!important;width:100%;">
                                                {{#each value}}
                                                    <li>
                                                        <img data-src="{{this}}" style="width: 100%; object-fit: contain" alt="" uk-cover uk-img="target: !.uk-slideshow-items">
                                                    </li>
                                                {{/each}}
                                            </ul>

                                            <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
                                            <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slideshow-item="next"></a>

                                        </div>
                                    </div>
                                </div>
                                <div class="uk-card-body">
                                    <h3>{{key}}</h3>
                                </div>
                            </div>
                        </div>
                    {{/ key_value}}


                </div>
                <div>
                    <a href="/public/drawings" class="uk-button uk-button-primary rounder-corners link-button">Zobrazit více</a>
                </div>
            </div>

        </section>
    </main>

<!--<div id="nb-global-spinner" class="spinner" style="width: 200px;">-->
<!--    <img src="../views_assets/img/logo.svg" alt="" uk-svg="stroke-animation: true">-->
<!--</div>-->




