body {
  /*padding: 50px;*/
  margin: 0;
  padding: 0;
}

html, body {
  position: relative;
  height: 100%;
}

a {
  color: #00B7FF;
}

.red {
  color: red;
}

.tile {
  box-shadow: 0px 15px 40px rgba(166, 173, 201, 0.2), 0px 5px 10px rgba(154, 160, 185, 0.05);
  width: 100%;
}

#content-wrapper {
  min-height: 100vh; /* will cover the 100% of viewport */
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 270px;
  box-sizing: border-box;
}

.uk-card {
  transition-duration: .4s;
}

/**********
  HEADER
*********/

#main-wrapper {
  max-width: 1220px;
  display: block;
  margin: 0 auto;
}


#main-header {
  /*width: 80%;*/
  display: block;
  /*margin: 0 auto;*/
  padding-bottom: .8em;
}

.main-heading {
  padding-top: 2em;
  font-weight: 700;
}

#pslib-logo {
  width: 50%;
  align-self: center;
  margin: 3em;

}

#pslib-logo img {
  transition: opacity .5s;
}

#pslib-logo:hover img {
  opacity: .8;
}

p.info-text {
  font-size: .95em;
  text-align: justify;
}



/**********
  IMAGE SITE
*********/
 .rounded-corners {
   border-radius: .25rem !important;
   overflow: hidden;
 }
.thumbnail-image {
  width: 100%;
  object-fit: cover;
}


.row.no-gutter [class*='col-'] {
  padding-right:0;
  padding-left:0;
  height: 300px;
  overflow: hidden;
  position: relative;
}

.row.no-gutter .img-responsive {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(1.1, 1.1);
  transition: all .5s;

}

.row.no-gutter .img-responsive:hover {
  transform: scale(1, 1);
}

.overlay-container ion-icon {
  font-size: 2em;
}

.row.no-gutter [class*='col-']:hover .overlay {

  opacity: 1;
}

#photos {
  /* Prevent vertical gaps */
  line-height: 0;

  -webkit-column-count: 3;
  -webkit-column-gap:   0px;
  -moz-column-count:    3;
  -moz-column-gap:      0px;
  column-count:         3;
  column-gap:           0px;
}

#photos div,
#photos div a img,
#photos div a {
  /* Just in case there are inline attributes */
  width: 100% !important;
  height: auto !important;
}

#photos div {
  overflow: hidden;
}

#photos div a img {
  transform: scale(1.02, 1.02);
  transition: all .5s;
}

#photos div:hover a img {
  transform: scale(1, 1);
}

.gallery-tile > a {
  color: inherit; text-decoration: none;
}

.home span {
  transition: all .5s;
}

.home:hover span{
  opacity: .8;
}

.uk-subnav.uk-subnav-pill li a {
  border-radius: .25rem !important;
}

/**********
  HOME SITE
*********/

#main-wrapper p {
  font-size: 1.1rem;
}

.text-uppercase {
  text-transform: uppercase;
  letter-spacing: .1em;
}

.link-button {
  margin: 0 auto;
  margin-top: 1.2em;
  transition: all .5s;
}

.link-button:hover {
  transform: scale(1.01, 1.01);
  box-shadow: 0 14px 25px rgba(0,0,0,.16);
}

.small-site-nav a {
  color: #1f87f0;
}

 #main-wrapper {
   max-width: 1220px;
   display: block;
   margin: 0 auto;
 }
#main-wrapper,
#main-wrapper h1,
#main-wrapper h2,
#main-wrapper h3,
#main-wrapper a{
  font-family: 'Poppins', sans-serif;
}

.gallery-arrows svg {
  filter: drop-shadow( 0 0 5px rgb(0, 0, 0));
}

footer {
  height: 250px;
  background-color: #e5e5e5;
  margin-top: 2em;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

footer .pslib-logo {
  max-height: 50%;
  /*margin: 0 auto;*/
}

footer .container {
  height: 100%;
  max-width: 1220px;
  margin: 0 auto;
}

footer .footer-menu li {
  display: inline-block;
  margin: 0 10px;
}

footer .footer-menu li a {
  color: #1f87f0;
  transition: text-shadow .5s;
}

footer .footer-menu li a:hover {
  text-decoration: none;
  text-shadow: 1px 0 #1f87f0;
}

footer #copy {
  margin: 0;
}


/*******
  MEDIA QURIES
*******/
@media screen and (max-width: 1220px){
  #main-wrapper,
  footer .container {
    padding: 20px;
  }
}

@media (max-width: 780px) {
  #pslib-logo {
    display: none;
  }

  .header-content-wrapper {
    display: block;
  }
}

@media screen and (max-width: 640px){
  .thumbnail-image {
    max-height: 30vh;
  }

  footer .container {
    display: block;
    text-align: center;
  }

  footer .pslib-logo {
    margin-top: .5rem;
  }

  footer ul {
    margin-top: .5rem;
  }

  .uk-slideshow-items img {
    object-fit: cover !important;
  }

  .link-button {
    width: 100%;
  }

  footer .footer-menu li {
    display: block;
  }
}



